@charset "utf-8";
/*base
-----------------------------------------------------------------------------------------*/
html {
    font-size: 16px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Noto Sans JP';
    color: #2C2A2A;
}

img,iframe{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

a:hover{
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    cursor: pointer;
}

section{
    width: 77.865%;
    margin: 10vw auto 5vw auto;
    text-align: center;
}

button{
    margin: 0;
    border: medium none;
    font-family: 'Noto Serif JP';
    text-align: center;
    cursor: pointer;
  }

/*header
-----------------------------------------------------------------------------------------*/
.header.pc{
    width: 100%;
    background-color: #DBC9DB;
    align-items: center;
    padding: 1.6rem 0 1.6rem 0;
}

.header-logo{
    width: 30%;
    font-size: 4vw;
    text-align: center;
    font-family: 'MonteCarlo';
}

.nav-pc{
    width: 70%;
    display: flex;
}

.menu.pc{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 4rem;
}

.header-img{
    width: 100%;
    aspect-ratio: 1923/640;
    background-image: url(../img/img_4.png);
    background-size: cover;
    background-position: 50% 50%;
}

.header-img-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}

.header-headline{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
}

.menu-item.reservation{
    background: linear-gradient(180deg, rgba(224,178,85,1) 0%, rgb(239, 208, 117) 100%);
    color: white;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.menu-item.reservation:hover{
    background: linear-gradient(180deg, rgb(222, 163, 46) 0%, rgb(236, 188, 46)100%);
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
    transition: 0.6s;
}

.drawer-menu-item.reservation{
    background: linear-gradient(180deg, rgba(224,178,85,1) 0%, rgb(239, 208, 117) 100%);
    color: white;
}

.drawer-menu-item.reservation:hover{
    background: linear-gradient(180deg, rgb(222, 163, 46) 0%, rgb(236, 188, 46)100%);
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
    transition: 0.6s;
}


@media (min-width:1281px){
    .header.pc{
        display: flex;
    }
    .fixed-header{
        display: none;
    }
    .menu.pc{
       font-size: 1.2vw;
    }
    
}

@media (min-width:2000px){
    .menu.pc{
        gap: 7rem;
    }
    
}

@media (max-width:1280px){
    .header.pc{
        display: none;
    }
    .fixed-header{
        display: flex;
    }
}

/*main
-----------------------------------------------------------------------------------------*/
.main-content{
    display: flex;
    flex-direction: column;
}

/*concept
-----------------------------------------------------------------------------------------*/
.concept{
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-img1{
    position: absolute;
    top: -35vw;
    left: -50vw;
    width: 100%;
    background-size: cover;
    z-index:-1;
}

.title span{
    font-family: 'MonteCarlo';
    font-size: 4vw;
}

.title{
    font-family: 'Noto Serif JP';
    font-size: 1.2vw;
}

.concept-text-parent{
    width: 52%;
    font-family: 'Noto Serif JP';
    font-size: 0.85vw;
    margin: 1vw auto 0 auto;
    background-color: #FFE7E94A;
    padding: 5vw 0 3vw 0;
    transform: translate(45%,0);
    position: relative;
}

.concept-text-parent span{
    font-weight: bold;
    font-size: 1.4vw;
}

.concept-text1{
    margin-top: 3vw;
    padding: 0 12vw 0 12vw;
    color: #6A6666;
    text-align: left;
}

.button-detail{
    margin-top: 3vw;
    background-color: #D97474;
    color: white;
    border-radius: 50px;
    padding: 0.5vw 2vw 0.5vw 2vw;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    font-size: 1vw;
}

.button-detail:hover{
    background-color: #dc3e3e;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
    transition: 0.6s;
}

.concept-img{
    width: 80%;
    aspect-ratio: 720/541;
    background-size: cover;
    position: absolute;
    top: 10vw;
    right: 38vw;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
}

@media (min-width:1281px){
    .title span{
        font-size: 3vw;
    }
    .title{
        font-size: 0.8vw;
    }
    .concept-text-parent span{
        font-size: 1vw;
    }
    .concept-text-parent{
        font-size: 0.84vw;
    }
}

@media (max-width:500px){
    .concept.pc{
        display: none;
    }
    .concept.smartphone{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .concept-text-parent-smartphone{
        width: 80%;
        font-family: 'Noto Serif JP';
        font-size: 2.5vw;
        background-color: #FFE7E94A;
        padding: 6vw 0 5vw 0;
        margin-top: 6vw;
    }
    .concept-img-smartphone{
        width: 80%;
        aspect-ratio: 720/541;
        background-size: cover;
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    }
    .concept-text-parent-smartphone span{
        font-weight: bold;
        font-size: 2.7vw;
    }
    .button-detail{
        margin-top: 6vw;
        background-color: #D97474;
        color: white;
        border-radius: 50px;
        padding: 0.5vw 2vw 0.5vw 2vw;
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
        font-size: 3vw;
        margin: 6vw auto 0 auto;
    }
    .concept.smartphone br{
        display: block;
        content: "";
        padding: 0.8vw 0;
    }
}

@media (max-width:1280px){
    .title span{
        font-size: 6vw;
    }  
    .title{
        font-size: 2vw;
    }
    .concept-text-parent{
        width: 62%;
        font-size: 1.15vw;
        transform: translate(40%,0);
    }
    .concept-text-parent span{
        font-size: 1.8vw;
    }
    .concept-img{
        top: 12vw;
        right: 46vw;
    }
}

@media (min-width:501px){
    .concept.pc{
        display: flex;
    }
    .concept.smartphone{
        display: none;
    }
}


/*chosen
-----------------------------------------------------------------------------------------*/
.chosen{
    display: flex;
    flex-direction: column;
    margin-top: 9vw;
    position: relative;
}

.background-img2{
    width: 60%;
    position: absolute;
    transform: translate(-30%, 80%)
}

.chosen.rectangle-img{
    width: 27%;
    aspect-ratio: 302/312;
    position: relative;
    background-image: url('../img/rectangle1.png');
    background-size: cover;
    margin-left: auto; 
    margin-right: 0;
}

.title.chosen{
    font-family: 'Noto Serif JP';
    position: absolute;
    font-size: 2.6vw;
    color: #434040;
    left: 50%;
    top: -10%;
    transform: translate(-50%,0%);
}

.chosen-mask-img{
    width: 140%;
    aspect-ratio: 10/1;
    background-size: cover;
    position: absolute;
    left: 50%;
    top:  68%;
    transform: translate(-50%,-50%);
}

.chosen-reasons-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20vw auto 0 auto;
    padding-bottom: 4vw;
}

.chosen-reason-i{
    width: 22%;
    aspect-ratio: 1/1;
    background-size: cover;
}

.chosen-reason-i.img1{
    margin-top: -72vw;
    position: relative;
    transform: translate(-30%,0);
}

.chosen-reason-i.img2{
    position: relative;
    margin-top: -36vw;
    transform: translate(-30%,0);
}

.chosen-reason-i.img3{
    position: relative;
    transform: translate(-30%,0);
}

.chosen-reason-t span{
    font-weight: bold;
    font-size: 1.4vw;
    font-family: 'Noto Serif JP';
    color: #2C2A2A;
}

.chosen-reason-t.text1{
    font-size: 0.85vw;
    position: absolute;
    margin-top: -72vw;
    text-align: left;
    transform: translate(10%,0);
    font-family: 'Noto Sans JP';
    color: #6A6767;
}

.chosen-reason-t.text2{
    font-size: 0.85vw;
    margin-top: -36vw;
    position: absolute;
    text-align: left;
    transform: translate(145%,0);
    font-family: 'Noto Sans JP';
    color: #6A6767;
}

.chosen-reason-t.text3{
    font-size: 0.85vw;
    position: absolute;
    text-align: left;
    transform: translate(260%,0);
    font-family: 'Noto Sans JP';
    color: #6A6767;
}

@media (max-width:500px){
    .chosen{
        margin-top: 6vw;
    }

    .background-img2{
        width: 60%;
        position: absolute;
        transform: translate(90%, 300%)
    }

    .chosen.rectangle-img{
        width: 40%;
        aspect-ratio: 302/312;
        position: relative;
        background-image: url('../img/rectangle1.png');
        background-size: cover;
        margin-left: auto; 
        margin-right: auto;
    }

    .title.chosen{
        font-family: 'Noto Serif JP';
        position: absolute;
        font-size: 4vw;
        color: #434040;
        left: 50%;
        top: 0%;
        transform: translate(-50%,0%);
    }

    .chosen-reason-t span{
        font-weight: bold;
        font-size: 3vw;
        font-family: 'Noto Serif JP';
        color: #2C2A2A;
    }

    .chosen-mask-img{
        width: 140%;
        aspect-ratio: 10/1;
        background-size: cover;
        position: absolute;
        left: 50%;
        top:  60%;
        transform: translate(-50%,-50%);
    }

    .chosen-reasons-parent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 4vw;
        gap: 12vw;
    }
    .chosen-reason-i{
        width: 60%;
        aspect-ratio: 1/1;
        background-size: cover;
    }
    .chosen-reason-i.img1{
        margin-top: 0;
        position: relative;
        transform: translate(-70%,0);
    }
    
    .chosen-reason-i.img2{
        margin-top: 0;
        position: relative;
        transform: translate(-70%,0);
    }
    
    .chosen-reason-i.img3{
        margin-top: 0;
        position: relative;
        transform: translate(-70%,0);
    }
    .chosen-reason-t.text1{
        font-size: 2.7vw;
        position: absolute;
        text-align: left;
        transform: translate(5%,0);
        margin-top: 8vw;
        font-family: 'Noto Sans JP';
        color: #6A6767;
    }
    
    .chosen-reason-t.text2{
        font-size: 2.7vw;
        position: absolute;
        text-align: left;
        margin-top: 60vw;
        transform: translate(5%,0);
        font-family: 'Noto Sans JP';
        color: #6A6767;
    }
    
    .chosen-reason-t.text3{
        font-size: 2.7vw;
        margin-top: 105vw;
        position: absolute;
        text-align: left;
        transform: translate(5%,0);
        font-family: 'Noto Sans JP';
        color: #6A6767;
    }
}

/*menu
-----------------------------------------------------------------------------------------*/
.salon-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-image.menu{
    position: absolute;
    background-size: cover;
    width:45%;
    z-index: -1;
    bottom: 0;
    right: 0;
    transform: translate(30%, 20%)
}

.title.menu{
    font-family: 'Noto Serif JP';
    font-size: 1.2vw;
}

.menu-card-parent{
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    background-color: white;
}

.card-title{
    font-family: 'Noto Serif JP';
    margin-top: 2vw;
    color: #514646;
    font-size: 1.4vw;
}

.card-text{
    font-family: 'Noto Sans JP';
    font-size: 1.1vw;
    color: #938A8A;
    margin: 2.5vw auto 3vw auto;
    text-align: left;
}

.menu-text{
    font-family: 'Noto Sans JP';
    margin-top: 6vw;
    width: 35%;
    font-size: 1vw;
    margin: 6vw auto 0 auto;
}

.button-detail.menu{
    width: 18%;
    margin: 4vw auto 0 auto;
    padding: 1vw 1vw 1vw 1vw;
}

@media (max-width:1280px){
    .title.menu{
        font-family: 'Noto Serif JP';
        font-size: 2vw;
    }
}

@media (max-width:500px){
    .menu-card-parent{
        flex-direction: column;
        margin-top: 2vw;
    }
    .background-image.menu{
        position: absolute;
        background-size: cover;
        width:70%;
        z-index: -1;
        bottom: 0;
        right: 0;
        transform: translate(30%, -20%)
    }
    .card{
        width: 80%;
        margin-top: 4vw;
    }
    .card-title{
        font-size: 4vw;
        margin-top: 4vw;
    }
    .card-text{
        font-size: 2.7vw;
    }
    .card.improvement{
        padding-bottom: 3vw;
    }
    .card.care{
        margin-top: 8vw;
    }
    .card.white{
        margin-top: 8vw;
    }
    .menu-text{
        font-size: 2.4vw;
        width: 80%;
        margin: 8vw auto 0 auto;
    }
    .button-detail.menu{
        width: 40%;
        margin: 6vw auto 0 auto;
        padding: 1vw 1vw 1vw 1vw;
    }
}
/*news
-----------------------------------------------------------------------------------------*/
.news{
    width: 100%;
    margin: 0;
    padding: 4vw 0 4vw 0 ;
    background-color:rgba(254, 217, 217, 0.48);
}