@charset "utf-8";
/*base
-----------------------------------------------------------------------------------------*/
html {
    font-size: 16px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Noto Sans JP';
    color: #2C2A2A;
}

img,iframe{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

a:hover{
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    cursor: pointer;
}

section{
    width: 77.865%;
    margin: 10vw auto 0 auto;
    text-align: center;
}

button{
    margin: 0;
    border: medium none;
    font-family: 'Noto Serif JP';
    text-align: center;
    cursor: pointer;
  }

/*header
-----------------------------------------------------------------------------------------*/
.header.pc{
    width: 100%;
    background-color: #DBC9DB;
    align-items: center;
    padding: 1.6rem 0 1.6rem 0;
}

.header-logo{
    width: 30%;
    font-size: 4vw;
    text-align: center;
    font-family: 'MonteCarlo';
}

.nav-pc{
    width: 70%;
    display: flex;
}

.menu.pc{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-left: 4rem;
}

.header-img{
    width: 100%;
    aspect-ratio: 1923/640;
    background-image: url(../img/img_4.png);
    background-size: cover;
    background-position: 50% 50%;
}

.header-img-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}

.header-headline{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-50%);
}

.menu-item.reservation{
    background: linear-gradient(180deg, rgba(224,178,85,1) 0%, rgb(239, 208, 117) 100%);
    color: white;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.menu-item.reservation:hover{
    background: linear-gradient(180deg, rgb(222, 163, 46) 0%, rgb(236, 188, 46)100%);
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
    transition: 0.6s;
}

.drawer-menu-item.reservation{
    background: linear-gradient(180deg, rgba(224,178,85,1) 0%, rgb(239, 208, 117) 100%);
    color: white;
}

.drawer-menu-item.reservation:hover{
    background: linear-gradient(180deg, rgb(222, 163, 46) 0%, rgb(236, 188, 46)100%);
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
    transition: 0.6s;
}


@media (min-width:1281px){
    .header.pc{
        display: flex;
    }
    .fixed-header{
        display: none;
    }
    .menu.pc{
       font-size: 1.2vw;
    }
    
}

@media (min-width:2000px){
    .menu.pc{
        gap: 7rem;
    }
    
}

@media (max-width:1280px){
    .header.pc{
        display: none;
    }
    .fixed-header{
        display: flex;
    }
}

/*main
-----------------------------------------------------------------------------------------*/
.main-content{
    display: flex;
    flex-direction: column;
}

/*concept
-----------------------------------------------------------------------------------------*/
.concept{
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-img1{
    position: absolute;
    top: -35vw;
    left: -50vw;
    width: 100%;
    background-size: cover;
    z-index:-1;
}

.title span{
    font-family: 'MonteCarlo';
    font-size: 4vw;
}

.title.concept{
    font-family: 'Noto Serif JP';
    font-size: 1.2vw;
}

.concept-text-parent{
    width: 52%;
    font-family: 'Noto Serif JP';
    font-size: 0.85vw;
    margin: 1vw auto 0 auto;
    background-color: #FFE7E94A;
    padding: 5vw 0 3vw 0;
    transform: translate(45%,0);
    position: relative;
}

.concept-text-parent span{
    font-weight: bold;
    font-size: 1.4vw;
}

.concept-text1{
    margin-top: 3vw;
    padding: 0 9vw 0 9vw;
    color: #6A6666;
    text-align: left;
}

.button-detail{
    margin-top: 4vw;
    background-color: #D97474;
    color: white;
    border-radius: 50px;
    padding: 0.5vw 2vw 0.5vw 2vw;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    font-size: 1vw;
}

.button-detail:hover{
    background-color: #dc3e3e;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
    transition: 0.6s;
}

.concept-img{
    width: 80%;
    aspect-ratio: 720/541;
    background-size: cover;
    position: absolute;
    top: 10vw;
    right: 38vw;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
}

@media (min-width:1281px){
    .title span{
        font-size: 3vw;
    }
    .title.concept{
        font-size: 0.8vw;
    }
    .concept-text-parent span{
        font-size: 1vw;
    }
    .concept-text-parent{
        font-size: 0.84vw;
    }
}

@media (max-width:500px){
    .concept.pc{
        display: none;
    }
    .concept.smartphone{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .concept-text-parent-smartphone{
        width: 80%;
        font-family: 'Noto Serif JP';
        font-size: 2.7vw;
        background-color: #FFE7E94A;
        padding: 6vw 0 5vw 0;
        margin-top: 6vw;
    }
    .concept-img-smartphone{
        width: 80%;
        aspect-ratio: 720/541;
        background-size: cover;
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    }
    .concept-text-parent-smartphone span{
        font-weight: bold;
        font-size: 3vw;
    }
    .button-detail{
        margin-top: 6vw;
        background-color: #D97474;
        color: white;
        border-radius: 50px;
        padding: 0.5vw 2vw 0.5vw 2vw;
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
        font-size: 3vw;
    }
    br{
        display: block;
        content: "";
        padding: 0.8vw 0;
    }
}

@media (max-width:1280px){
    .title span{
        font-size: 6vw;
    }  
    .title.concept{
        font-size: 2vw;
    }
    .concept-text-parent{
        width: 62%;
        font-size: 1.15vw;
        transform: translate(40%,0);
    }
    .concept-text-parent span{
        font-size: 1.8vw;
    }
    .concept-img{
        top: 12vw;
        right: 46vw;
    }
}

@media (min-width:501px){
    .concept.pc{
        display: flex;
    }
    .concept.smartphone{
        display: none;
    }
}



/*chosen
-----------------------------------------------------------------------------------------*/
.chosen{
    display: flex;
    flex-direction: column;
    margin-top: 9vw;
}

.chosen.rectangle-img{
    width: 27%;
    aspect-ratio: 302/312;
    position: relative;
    background-image: url('../img/rectangle1.png');
    background-size: cover;
    margin-left: auto; 
    margin-right: 0;
}

.title.chosen{
    font-family: 'Noto Serif JP';
    position: absolute;
    font-size: 2.6vw;
    color: #434040;
    left: 50%;
    top: -10%;
    transform: translate(-50%,0%);
}

.chosen-mask-img{
    width: 140%;
    aspect-ratio: 10/1;
    background-size: cover;
    position: absolute;
    left: 50%;
    top:  68%;
    transform: translate(-50%,-50%);
}

.chosen-reasons-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chosen-reason-i{
    width: 22%;
    aspect-ratio: 1/1;
    background-size: cover;
}

.chosen-reason-i.img1{
    margin-top: -36vw;
    position: relative;
}

.chosen-reason-i.img3{
    margin-bottom: -36vw;
}

.chosen-reason-t span{
    font-weight: bold;
    font-size: 1.4vw;
    font-family: 'Noto Serif JP';
    color: #2C2A2A;
}

.chosen-reason-t.text1{
    font-size: 0.85vw;
    position: absolute;
    margin-top: -36vw;
    text-align: left;
    transform: translate(40%,0);
    font-family: 'Noto Sans JP';
    color: #6A6767;
}
